/* ----------обнуление---------- */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body{
    line-height: 1;
    height: 100%;
    background-color: #3A3A3A;

}

ul, li, ol{
    list-style: none;
}

h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: inherit;
}

a{
    text-decoration: none;
}

img{
    vertical-align: top;
}

.wrapper{
    max-width:1600px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.btn-exept{
    color: #0BF4BC;
    text-decoration: underline;
    font-size: 25px;
    font-weight: 400;
}

.title{
    color: #0BF4BC;
    font-size: 32px;
    font-weight: 700;   
    font-family: 'Play', sans-serif;
}

.logo-text{
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Play', sans-serif;
}


/* ----------header---------- */
.header{
    display: flex;
    justify-content: space-between;
    padding: 19px 0 27px 0;
}

.container-logotype{
    display: flex;
    align-items: center;
    gap: 13px;
}

.nav{
    display: flex;
    align-items: center;
}

.nav ul{
    display: flex;
    gap: 24.27px;
    align-items: center;
}

.text-logotype{
    font-size: 28px;
    font-weight: 700;
    background: -webkit-linear-gradient(50deg, rgb(11, 244, 188), rgba(46, 249, 113, .9), rgba(97, 255, 0, .76));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link{
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    transition: .8s;
}

.nav-link:hover{
    color: #0BF4BC;
}

/* ---------header-burger */

/* .header-burger{
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin-right: 15px;
}
.header-burger::after,
.header-burger::before{
    content: '';
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 2px;
}

.header-burger:after{   
top: 0;
}

.header-burger::before{ 
bottom: 0;
}

.header-burger span{
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 2px;
    top: 9px;
} */





/* ----------main---------- */
/* ----------container video */
.container-video{
    width: 100%;
    height: 898px;
    background: url('../images/Join\ the\ Battle.mp4') no-repeat center center;
    z-index: -100;

    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none;
}

.video-header{
    position: absolute;
    min-width: 1600px;
    outline: none;
}

.container-text-container-video{
    padding-top: 271px;
    color: #fff;
    text-align: center;
    display: grid;
    gap: 45px;
}

.title-container-video{
    font-size: 16px;
    font-weight: 600;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0);
}

.logo-text-container-video{
    font-size: 48px;
    font-weight: 700;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0);
}

.container-btn-header{
    display: flex;
    justify-content: center;
    padding-top: 268px;
}

.btn-container-video{
    width: 260.36px;
    height: 57px;
    background-color: #fff;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: .8s;
    z-index: 4;
    outline: none;
}

.btn-container-video:hover{
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
}

/* ----------contaiener work */
.container-how-work{
    padding: 129px 0;
    display: flex;
    justify-content: space-between;
}

.image-how-work{
    padding-left: 86px;
}

.container-text-how-work{
    display: grid;
    padding-right: 237px;
}

.content-text-how-work{
    color: rgba(255, 255, 255, .7);
    font-size: 36px;
    font-weight: 400;
    line-height: 126.5%;
}


/* ----------contaienr fast play */
.container-text-fast-play{
    text-align: center;
    display: grid;
    gap: 36px;
}

.container-block-fast-play{
    padding: 111px 0 70px 0;
    display: flex;
    justify-content: space-between;
}

.center{
    display: flex;
    justify-content: center;
}

.block-fast-play{
    width: 210px;
    height: 145px;
    display: grid;
    place-items: center;
}

.bg-element-block-fast-play{
    width: 108px;
    height: 108px;
    background-color: #2EF971;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text-block-fast-play{
    padding-top: 15px;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 24px;
}

.line-block-fast-play{
    width: 175px;
    height: 1.5px;
    background-color: #2EF971;
    margin-top: 54px;
}

/* ----------container tarifs */
.container-tarifs{
    padding: 129px 0;
}

.container-text-tarifs{
    display: grid;
    place-items: center;
    gap: 34px;
}

.container-block-tarifs{
    padding-top: 66px;
    display: flex;
    justify-content: center;
    gap: 54px;
}

.block-tarifs{
    width: 357px;
    height: 485px;
    background-color: #1F2631;
}

.block-tarifs.aqua{
    background-color: #0BF4BC;
}

.body-block-tarifs{
    padding-top: 67px;
    padding-left: 34px;
    padding-right: 12px;
}

.logo-block-tarifs{
    font-size: 36px;
    color: #fff;
    font-weight: 700;
    line-height: 110%;
}

.logo-block-tarifs.aqua{
    color: #000;
}

.price-block-tarifs{
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    padding: 8px 0 37px 0;
}

.price-block-tarifs.aqua{
    color: #000;
}

.type-block-tarifs{
    font-size: 20px;
    line-height: 150%;
    font-weight: 300;
    color: #ABABAB;
    line-height: 150%;

}

.type-block-tarifs.aqua{
    color: #000;
}

.container-btn-block-tarifs{
    display: flex;
    justify-content: center;
}

.btn-block-tarifs{
    width: 289px;
    height: 55px;
    background-color: #0BF4BC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

.btn-block-tarifs.aqua{
    background-color: #1F2631;
    color: #fff;
}

.container-btn-block-tarifs.first{
    padding-top: 46px;
}

.container-btn-block-tarifs.second{
    padding-top: 43px;
}

.container-btn-block-tarifs.third{
    padding-top: 78px;
}

/* ---------container mailing */
.container-mailing{
    width: 100%;
    height: 150px;
    background-color: #1F2631;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 93px;
}

.logo-mailing{
    font-size: 36px;
    color: #fff;
    font-family: 'Play', sans-serif;
    font-weight: 700;
}

.container-mailing form{
}

.container-mailing form input{
    font-size: 24px;
    color: rgba(255, 255, 255, .7);
    width: 400px;
    border: none;
    background: no-repeat top;
    background-image: linear-gradient(0deg,#0BF4BC 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);
}

.container-mailing form input::placeholder{
    color: rgba(255, 255, 255, .7);
    font-size: 24px;
}

input:focus {
    box-shadow: none;
    outline: none;
}


/* ----------container download */
.container-download{
    padding: 129px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 129px;
}

.container-text-download{
    display: grid;
}

.download{
    padding-top: 63px;
}

.contant-text-download{
    color: #ABABAB;
    font-size: 21.33px;
    font-weight: 300;
    padding: 103px 0 83px 0;
}


/* ----------footer---------- */
.footer{
    height: 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-nav-footer{
    display: flex;
    align-items: center;
}

.nav-link-footer{
    font-size: 19px;
    color: #fff;
    font-family: 'Play', sans-serif;
    font-weight: 400;

}

.container-network{
    display: flex;
    gap: 33px;
}